* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
}
h1 {
    font-family: 'Oswald', sans-serif;
}
p, a, button {
    font-family: 'Noto Serif', serif;
}
/* --- Navigation --- */
.navigation {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #333333;
    justify-content: flex-start;
    align-items: center;
}
.navhome {
    width: 20%;
    float: left;
    margin-left: 5%;
}
.navhome a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.navrest {
    width: 80%;
    float: right;
    margin-right: 5%;
}
.navrest a {
    float: right;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
/* --- MAIN --- */
.bg {
    width: 100%;
    height: 95%;
    background-image: url("../Billeder/baggrund.jpg");
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
.insidebg {
    width: 40%;
    height: auto;
    position: relative;
    margin: 0 auto;
    background-color: #033E4F;
    text-align: center;
    padding: 14px 16px;
    margin-top: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.insidebg h1, p {
    color: white;
    margin: 10px 0px;
}
.insidebg p {
    font-size: 17px;
}
.join {
    background-color: #005E1C;
    color: white;
    padding: 10px 50px;
    border-radius: 40px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}
.join:hover {
    background-color: #7F1100;
}

/* --- SCALING --- */

@media screen and (max-width: 800px) {
    .insidebg {
        width: 85%;
    }
}