* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    background-color: #033E4F;
}
h1, span, a {
    font-family: 'Oswald', sans-serif;
}
p, button {
    font-family: 'Noto Serif', serif;
}
/* --- Navigation --- */
.navigation {
    width: 100%;
    height: 5%;
    min-height: 37px;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #333333;
    justify-content: flex-start;
    align-items: center;
}
.navhome {
    width: 20%;
    float: left;
    margin-left: 5%;
}
.navhome a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.navrest {
    width: 80%;
    float: right;
    margin-right: 5%;
}
.navrest a {
    float: right;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
/* --- MAIN --- */
.bg {
    width: 100%;
    height: 95%;
    background-image: url("../Billeder/baggrund.jpg");
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}
.insidebg {
    width: 50%;
    height: auto;
    position: relative;
    top: 50%;
    margin: 0 auto;
    background-color: #033E4F;
    text-align: center;
    padding: 14px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.insidebg h1, p {
    color: white;
    margin: 10px 0px;
}
.insidebg p {
    font-size: 17px;
}
.join {
    background-color: #107B30;
    color: white;
    padding: 10px 50px;
    border-radius: 40px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}
.join:hover {
    background-color: #7F1100;
}
  /* MODAL STYLING */
/* The Modal (background) */
.indexmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: display 1s ease-in;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #105468;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  .modal-content a, h1 {
      color: white;
  }
  .modal-content input {
      width: 290px;
      padding: 2px 15px;
      background-color: #7F1100;
      margin-right: 10px;
      font-size: 18px;
      color: white;
      border: 1px solid #219945;
      text-align: center;
  }
  .modal-content button {
      border: 0;
      background: none;
      color: white;
      font-size: 20px;
      cursor: pointer;
  }
  /* FAQ */
  .insidebgfaq {
    width: 55%;
    height: auto;
    position: relative;
    top: 5%;
    margin: 0 auto;
    background-color: #105468;
    padding: 14px 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
    flex-wrap: nowrap;
}
.insidebgfaq h1, p {
    color: white;
    margin: 10px 0px;
}
.insidebgfaq p {
    font-size: 17px;
}
.insidebgfaq a {
    color: white;
}
.faqcontent {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
  }
  .faqcontent h1 {
    color: white;
    padding: 10px 0px;
  }
  
  /* COLLAPSE FAQ */
  .collapsible {
    background-color: #333333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }
  .active,
  .collapsible:hover {
    background-color: rgb(83, 83, 83);
    border: 2px solid #219945;
    padding: 16px;
    box-sizing: border-box;
  }
  .rules {
    background-color: rgb(83, 83, 83);
    color: white;
    cursor: pointer;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #219945;
    outline: none;
    font-size: 15px;
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #033E4F;
  }
  .rulescontent {
    padding: 0 18px;
    height: auto;
    overflow: hidden;
    background-color: #033E4F;
  }
  .faqcontent button {
    font-size: 20px;
    text-align: left;
  }
  .content p {
    color: white;
    font-size: 19px;
    margin: 10px 0px;
  }
  .rulescontent span {
    font-size: 19px;
    margin: 10px 0px;
  }
  .faqspan {
    color: rgb(0, 80, 0);
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 2px 1px;
    background-color: lightgray;
  }
/* LEADERBOARD STYLING */
.insidebgleaderboard {
    width: 55%;
    height: auto;
    position: relative;
    top: 5%;
    margin: 0 auto;
    background-color: #105468;
    padding: 14px 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
    flex-wrap: nowrap;
}
.insidebgfaq h1, p {
    color: white;
    margin: 10px 0px;
}
.insidebgfaq p {
    font-size: 17px;
}

.leaderboard {
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #5A96A7;
    padding: 0;
    border-left: 1px solid white;
  }
  .leaderboardbutton {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
  }
  .leaderboard button {
    width: 50%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    outline: none;
    padding: 5px 5px;
    background-color: #033E4F;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1em;
  }
  .leaderboardtextwrapper {
    width: 95%;
    height: 650px;
    background-color: #033E4F;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .leaderboardtrophy {
    width: 5%;
    height: 650px;
    display: flex;
    flex-direction: column;
  }
  .leaderboardtext {
    width: 100%;
    height: 65px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #033E4F;
  }
  .leaderboardtext h3 {
    color: white;
    font-size: 1em;
    width: 98%;
    margin-left: 2%;
  }
  .leaderboardtext p:not(.undername) {
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin-left: 0%;
  }
  .leaderboardtext a {
    color: white;
    text-decoration: underline;
  }
  .undername {
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin-left: 10px;
  }
  .fa-trophy {
    align-self: center;
    width: 100%;
    height: 10%;
    font-size: 20px;
    text-align: center;
  }
  #gold {
    margin-top: 20px;
    color: gold;
  }
  #silver {
    color: silver;
  }
  #bronze {
    color: #bf6000;
  }
/* --- SCALING --- */

@media screen and (max-width: 800px) {
    .insidebg {
        width: 85%;
    }
    .insidebgleaderboard {
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }
}
@media screen and (max-width: 1200px) {
    .insidebgfaq {
        width: 95%;
    }
}